
#about{
  width: 60%;
  float: right;

  section{
    width: 100%;
    color: white;
    padding: 50px;

    .img{
      background-image: url('img/me.jpg');
      background-size: cover;
    }


  }





}